body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(4, 4, 108);
    color: white;
}
nav{
    background-color: rgb(56, 53, 53);
    margin-left: -0.6%;
    margin-right: -1%;
    margin-top: -1%;
    margin-bottom: -3%;
}
.menu-hamburguesa{
    margin-left: 90%;
    margin-top: -1%;
}
.logoa h1{
    margin-left: 3%;
}
.logoa{
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
}
.logoa img{
    width: 10vh;
    height: 10vh;
}
.logoa ul{
    list-style: none; 
    display: flex;
    
}
.logoa a:hover{
    text-decoration: underline;
}
.logoa a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.logoa li{
    margin-left: 30%;
    margin-top: 4%;
}
.section{
    margin-top: 5%;
    display: flex;
}
.section img{
    width: 47vh;
    height: 60vh;
}
.avatar{
    margin-left: 1%;
}
.wicked{
    margin-left: 13%;
}
.running{
    margin-left: 13%;
}
.article{
    margin-top: 2%;
    display: flex;
}
.article img{
    width: 47vh;
    height: 60vh;
}
.dracula{
    margin-left: 1%;
}
.zootropolis{
    margin-left: 13%;
}
.chain{
    margin-left: 13%;
}
aside h2{
    text-align: center;
    font-size: 5vh;
    font-style: italic;
    text-decoration: underline;
}
aside iframe{
    margin-left: 8.5%;
}

.footernav ul{
    list-style: none;
    margin-left: 10%;
    display: flex;
    margin-top: 5%;
}
.footernav li{
    margin-left: 6%;
    margin-top: 2%;
}
.footernav a{
    color: white;
    text-decoration: none;
}
.footernav a:hover{
    text-decoration: underline;
    background-color: rgb(6, 28, 124);
    opacity: 60%;
}
.footernav img{
    width: 3vh;
    height:3vh;
    margin-left: 85%;
    display: flex;
}
#tiktok{
    margin-left: 91%;
    margin-top: -3vh;
}
#x{
    margin-left: 87%;
    margin-top: -3vh;
}
#face{
    margin-left: 89%;
    margin-top: -1.5%;
}


